/* LOADING */

.loadingWrapper {
  display: flex;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(3px);
  z-index: 200;
  background: var(--green-teal-mid-10);
}
.loadingDivWrapper {
  display: flex;
  position: relative;
  left: -10px;
  width: 6em;
  max-width: 6em;
  height: 2.7em;
  max-height: 2.7em;
  scale: 0.8;
  background: var(--light-blue-gray-20);
  border: var(--green-mid-border);
  border-radius: 100px;
  align-items: center;
  padding-left: 1em;
  backdrop-filter: blur(3px);
  z-index: 2;
  margin-top: -3em;
  margin-bottom: 1em;
}
.ldsEllipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.ldsEllipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsEllipsis img:nth-child(1) {
  left: -5px;
  animation: ellipsisFirst cubic-bezier(0.5, 0.35, 0.79, 0.86) 2.1s infinite;
}

.ldsEllipsis div:nth-child(2) {
  left: 10px;
  animation: ellipsis2 ease-in-out 2.7s infinite;
  background: var(--blue-mid-light);
  /* animation-delay: 250ms; */
}

.ldsEllipsis div:nth-child(3) {
  left: 44px;
  animation: ellipsis3 ease-in-out 2.3s infinite;
  background: var(--blue-light);
}

.ldsEllipsis div:nth-child(4) {
  left: 44px;
  animation: ellipsisLast cubic-bezier(0.5, 0.35, 0.79, 0.86) 2.5s infinite;
  background: var(--blue-mid);
  /* animation-delay: 50ms; */
}

@keyframes ellipsisFirst {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(7deg);
  }

  30% {
    transform: rotate(3deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes ellipsis2 {
  0% {
    transform: scale(0.8);
  }

  60% {
    transform: scale(0.5) translate(-5px, 3px);
  }

  100% {
    transform: scale(0.8) translate(0, 0);
  }
}

@keyframes ellipsis3 {
  0% {
    transform: scale(0.5) translate(-10px, 0);
  }

  50% {
    transform: scale(0.9) translate(-5px, 2px);
  }
  100% {
    transform: scale(0.5) translate(-10px, 0);
  }
}

@keyframes ellipsisLast {
  0% {
    transform: scale(0.7) translate(-22px, 0px);
  }

  60% {
    transform: scale(0.9) translate(-24px, 2px);
  }

  100% {
    transform: scale(0.7) translate(-22px, 0px);
  }
}
